html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  margin: auto;
  background-color: rgba(192, 192, 192, 0.486);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .container {
  margin-top: 200px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  max-width: 700px;
}

html body .headerComponent > a > img {
  margin: 10px;
  max-width: 100px;
  background-size: cover;
  background-repeat: no-repeat;
}

html body #removeItem {
  color: #e74c3c;
  font-size: 18px;
}

html body .container > form > input[type="submit"] {
  margin-top: 30px;
  border: none;
  color: white;
  background-color: #04035c;
  font-size: 18px;
  padding: 5px 120px;
  border-radius: 4px;
  cursor: pointer;
}

html body .headerComponent {
  width: 100%;
}

html body .col-50 > input[type="text"],
html body .col-50 > input[type="email"] {
  width: 90%;
  padding: 5px;
  border: none;
  line-height: 1.5em;
  border-bottom: 1px solid black;
}

html body .col-50 {
  float: left;
  width: 50%;
  margin-top: 30px;
}

html body ::-webkit-input-placeholder {
  color: black;
}

html body .error {
  position: absolute;
  z-index: 1;
  color: red;
  display: none;
  margin-left: 20px;
}

html body .notification {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  padding-right: 15px;
  position: absolute;
  right: 30px;
  top: 150px;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 270px;
}

html body .notification.visible {
  opacity: 0.8;
  top: 20px;
  visibility: visible;
}

html body .notification.info {
  background-color: #419636;
}

html body .notification.error {
  background-color: #e74c3c;
}

html body .notification > .icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
}

html body .notification > .icon > i {
  color: white;
  cursor: default;
}

html body .notification > .notificationText {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 15px;
  width: calc(95% - 50px);
  word-wrap: normal;
}

html body .box {
  float: right;
  font-size: 14px;
  margin-top: 10px;
}

html body #imgNodata {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

html body .table {
  margin-top: 40px;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
}

html body .table th {
  background: #333;
  color: white;
  font-weight: bold;
}

html body .table td,
html body .table th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 576px) {
  html,
  body {
    height: 100%;
    margin: 0;
  }
  html .container,
  body .container {
    margin-top: 0px;
  }
  html .table,
  body .table {
    display: block;
    overflow-x: auto;
  }
  html .col-50,
  body .col-50 {
    width: 100%;
    /* margin-top: 54px; */
  }
  html input[type="submit"],
  body input[type="submit"] {
    width: 94%;
  }
  html .container input[type="text"],
  body .container input[type="text"] {
    font-size: 15px;
  }
}
/*# sourceMappingURL=index.css.map */